<div mat-dialog-title>
    <h3>
        <span>{{data.title}}</span>
        <button type="button" class="close" mat-dialog-close mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
        </button>
    </h3>
    <mat-divider></mat-divider>

</div>

<mat-dialog-content>
        <form [formGroup]="form" fxLayout="column">
            <div class="form-wrapper">
                <mat-form-field>
                    <mat-label>Title:</mat-label>
                    <input matInput placeholder="Title:" formControlName="title">
                </mat-form-field>

                <mat-checkbox color="primary" formControlName="status">Status</mat-checkbox>
            </div>
        </form>
</mat-dialog-content>

<mat-dialog-actions> 
    <div class="ml-auto">
        <button  color="warn" mat-dialog-close mat-raised-button>Kapat</button>
        <button class="save" mat-raised-button (click)="onSubmit()" >Kaydet</button>
    </div>
</mat-dialog-actions>