table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .save {
    margin-right: 3px;
    background-color: blue !important;
    line-height: 36px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
  }

  .remove {
    line-height: 36px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
  }
  